*{
    margin: 0px;
}
::selection {
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 8);
  }
img{
    pointer-events: none;
    user-select: none;
}

#mobnavul{
    display: none;
}
#optbtn{
    display: none;
    position: absolute;   
    width:50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 4px;
}

#logo{
    position: absolute;
    width: 85px;
    height: 50px;
    margin-top: 2px;
    margin-left: 20px;
}
nav{
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}
ul{
    margin-left: 0px;
    display: flex;
}
li{
    list-style: none;
    padding: 18px;
}
li:nth-child(1){
    margin-left: 80px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-property: all;
    transition-duration: 2s;
}
a:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}
section{
    height: 670px;
}
section {
    display: block;
}
#audiimgs1{
    object-fit: cover;
    width: 100%;
    height: 935px;
    z-index: -1;
    position: absolute;
    display: block;
}
#entryimgtitle{
    color: white;
    font-size: 65px;
    text-shadow: black 2px 2px;
    font-family: 'Kanit', sans-serif;
    margin-left: 145px;
}
#entryimgpara{
    margin-top: 8px;
    width: 340px;
    font-size: 21px;
    font-family: 'Kanit', sans-serif;
    margin-left: 145px;
    height: 850px;
}
#preview{
    margin: 4px;
}
.preview{
    margin-left: 40px;
    font-size: 21px;
    transition-property: all;
    transition-duration: 1s;
}
.preview:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}


#section1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 10px;
}

#previewimg1{
    height: 130px;
    width:300px;
    margin:2px;
}

#previewimg2{
    height: 130px;
    width:300px;
    margin:2px;
}
#previewimg3{
    height: 130px;
    width:300px;
    margin:2px;
}
#previewimg4{
    height: 130px;
    width:300px;
    margin:2px;
}
#previewimg5{
    height: 130px;
    width:300px;
    margin:2px;
}
#previewimg6{
    height: 130px;
    width:300px;
    margin:2px;
}
#previewimg7{
    height: 130px;
    width:300px;
    margin:2px;

}
#previewimg8{
    height: 130px;
    width:300px;
    margin:2px;
}
#previewimg9{
    height: 130px;
    width:300px;
    margin:2px;
}
#previewimg10{
    height: 130px;
    width:300px;
    margin:2px;
}
#section2previewimg{
    width: 100%;
    height: 1750px;
    object-fit:cover;
    margin-top: 40px;
    position: absolute;
    z-index: -1;
}
#rs7{
    position: absolute;
    z-index: 1;
    margin-top: 540px;
    color: rgb(0, 0, 0);
    width: 660px;
    background-color: white;
    margin-left: 100px;
    border-radius: 4px;
}
#rs7title{
    font-size: 75px;
    padding: 10px;
    margin: 4px;
    font-family: 'Quicksand', sans-serif;
}
#rs7para{
    font-size:35px;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
}
.btn{
    width: 220px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    margin-left: 30px;
    padding: 25px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid black;
    cursor: pointer;
}
#bookingbtn{
    background-color: black;
    color: white;
    transition-property: all;
    transition-duration: 1s;
}
#bookingbtn:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}
#bookingbtn1{
    margin-left: 0px;
    transition-property: all;
    transition-duration: 1s;
}
#bookingbtn1:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

#section3{
    margin-top: 2000px;
    background-color: black;
    height: max-content;
    overflow: auto;
}
#mobimg{
    object-fit: cover;
    float: right;
    height: 1000px;
    width: 750px;
    margin-left: 8px;
}
#mobpara{
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: left;
    font-size: 40px;
    margin: 5px;
    margin-top: 650px ;
    padding:5px
}
.mobbtn{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin: 4px;
    width: 220px;
    height: 80px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
}
.mobbtn:hover{
    background-color: white;
    color: black;
}
#mobibtn{
    margin-left: 30px;
    
}
